asgiref
certifi
charset-normalizer
Django
pymysql
django-ckeditor
django-cors-headers
django-jazzmin
django-js-asset
django-redis
djangorestframework
djangorestframework-simplejwt
djongo
dnspython
idna
packaging
pillow
PyJWT
pymongo
python-dateutil
python-dotenv
pytz
redis
requests
six
sqlparse
typing_extensions
tzdata
urllib3
gunicorn
whitenoise
